<footer>
  <section class="ft-section">
    <div class="ft-logo">
      <img src="/assets/images/LG-mark.png" class="logo" alt="">
      <img src="/assets/images/landgate.png" class="name" alt="">
    </div>
    <div class="ft-columns">
      <div class="ft-column me-5 mb-3">
        <div class="ft-title">About</div>
        <div class="contents">
          <div class="footer-link">Learn More</div>
          <div class="footer-link" routerLink="/people" routerLinkActive="active">People</div>
          <div class="footer-link">Careers</div>
        </div>
      </div>
      <div class="ft-column me-5 mb-3">
        <div class="ft-title">Resources</div>
        <div class="contents">
          <div class="footer-link">Docs</div>
          <div class="footer-link">Blog</div>
        </div>
      </div>
      <div class="ft-column me-5 mb-3">
        <div class="ft-title">Contact</div>
        <div class="contents">
          <div class="footer-link">Help</div>
          <div class="footer-link">Sales</div>
          <div class="footer-link">Video Tutorials</div>
          <div class="footer-link">Contact Us</div>
        </div>
      </div>
    </div>


    <div class="ft-column downloads">
      <div class="ft-title">Download our apps</div>
      <div class="contents">
        <img src="/assets/images/apple_store.png" alt="" class="mb-3">
        <img src="/assets/images/google_store.png" alt="">
      </div>
    </div>

  </section>
  <section class="copyright-section">
    <div class="copyright">©2023 LandGate Corp. All rights reserved</div>
    <div class="infos">
      <div class="footer-link c-pointer terms me-5">Terms and conditions</div>
      <div class="footer-link c-pointer privacy me-5">Privacy policy</div>
      <div class="footer-link c-pointer company me-5">Company details</div>
    </div>
    <div class="social-links">
      <button type="button" class="btn btn-secondary btn-sm">
        <i class="bi bi-linkedin"></i>
      </button>
      <button type="button" class="btn btn-secondary btn-sm ms-2">
        <i class="bi bi-facebook"></i>
      </button>
      <button type="button" class="btn btn-secondary btn-sm ms-2">
        <i class="bi bi-twitter"></i>
      </button>
      <button type="button" class="btn btn-secondary btn-sm ms-2">
        <i class="bi bi-instagram"></i>
      </button>
    </div>
  </section>
</footer>
