@import "variables";

:host {
  background-color: $color-light;
  display: flex;
  flex-wrap: wrap;
}


app-person-card {
  width: 100%;
}

@media (min-width: $sm) {
  app-person-card {
    width: 380px;
  }
}
