//font
$primary-font: Roboto, sans-serif, Helvetica;
$secondary-font: Montserrat, sans-serif, Helvetica;

// Primary Colors
$primary-blue: #667481;
$primary-dark-blue: #2A3845;
$primary-light-blue: #84929F;

// Accent Colors
$accent-cyan: #8BFFF8;
$accent-cyan-muted: #63D7D0;
$accent-green: #3BAFA8;
$accent-dark-green: #005F58;
$accent-red: #F46872;
$accent-dark-red: #E0525F;

// Other Colors
$color-dark: #232C34;
$color-light: #DFE3E7;
$color-green: #70C86A;
$color-green-muted: #5CB456;
$color-yellow: #FAC64C;
$color-yellow-muted: #E6B238;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
